@import "./../Colours/Dark/main";


.timetable-page-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-grow: 1;

  .timetable-page-header {
    display: flex;
    justify-content: space-between;
    height: 40px;

    .timetable-create-nav {
      button{
        height: 40px;
      }
    }

    .timetable-display-nav {
      display: flex;
      align-items: center;

      span {
        padding-right: 0.5rem;
      }
      button{
        height: 40px;
      }

      //button + button {
      //  margin-left: 0.5rem;
      //}
    }
  }
}