@import "./../../Colours/Dark/main";


.user-form-container {
  display: flex;
  flex-direction: column;

  // Width of 450 or smaller
  max-width: 450px;
  width: 100%;

  // Centers
  margin: auto;

  .user-form-header {
    padding: 1rem;
    background-color: $primary;
  }

  .user-form-body {
    padding-top: 1rem;

    .form-text-field {
      width: 100%;
      margin-bottom: 1rem;

      input {
        box-shadow: 0 0 0 100px $background-primary inset !important;
        -webkit-text-fill-color: $text-primary !important;
      }
    }
  }

  .user-form-footer {
    display: flex;
    flex-direction: column;

    .footer-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer-error{
      color: red;
    }
  }
}

.user-footer-link {
  color: $primary;
}



