$text-primary: #f8f8f8;
$text-secondary: #d5d5d5;
$hover-primary: rgba(0, 0, 0, 0.3);

$primary: #0982e5;

$background-primary: #1c1c1c;
$background-secondary: #2c2c2c;
$background-tertiary: #3c3c3c;
$background-quaternary: #4c4c4c;