// Dark theme for the website

$text-primary: #f8f8f8;
$text-secondary: #d5d5d5;
$hover-primary: rgba(0, 0, 0, 0.3);
$hover-secondary: rgba(0, 0, 0, 0.2);
$hover-tertiary: rgba(0, 0, 0, 0.1);
$hover-quaternary: rgba(0, 0, 0, 0.05);

$primary: #0091d8;
$primary-light: #40a8de;
$primary-dark: rgb(0, 101, 151);

$background-dark: #1c1c1c;
$background-primary: #202020;
$background-light: rgb(115, 115, 115);
$background-secondary: #2c2c2c;
