$text-primary: #f8f8f8;
$text-secondary: #d5d5d5;
$hover-primary: rgba(0, 0, 0, 0.3);
$hover-secondary: rgba(0, 0, 0, 0.2);
$hover-tertiary: rgba(0, 0, 0, 0.1);
$hover-quaternary: rgba(0, 0, 0, 0.05);

$primary: #0982e5;

$background-darker: #121212;
$background-primary: #171717;
$background-secondary: #2c2c2c;
$background-tertiary: #3c3c3c;
$background-quaternary: #4c4c4c;