@import "./../Colours/Dark/main.scss";

.container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  flex-grow: 1;
  overflow: hidden;

  .content-container {
    flex-grow: 1;
    color: $text-primary;
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
  }
}